/* postUpload main */

.post_inp_tit {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    margin: 20px 0 27px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.post_area_content {
    width: 100%;
    height: 360px;
    border: 1px solid #bdbdbd;
    resize: none;
    border-radius: 5px;
    padding: 13px;
}

.post_btn_con {
    margin-top: 60px;
    float: right;
}

.post_btn_con .post_btn_upload {
    margin-left: 10px;
}

.post_img_con {
    border-radius: 5px;
    position: absolute;
    bottom: -26px;
}

.post_img_con .post_img_preview {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.post_img_con .post_btn_img_cancel {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    right: -12px;
    top: -10px;
}

/* post 버튼 공통 */
.post_btn {
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 8px 12px;
    color: white;
}
.post_btn:first-child {
    margin-right: 10px;
}
/* 끝 */
/* .post_form_upload {
    padding: 110px;
} */
