.post_span_category {
    background-color: #dadd50;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.post_section_top {
    position: relative;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 24px;
}

.post_section_top .post_h2_tit {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}

.post_section_top .post_div_info_con {
    margin-top: 27px;
    display: flex;
    align-items: center;
    /* gap: 16px; */
}

.post_section_top .post_div_info_con .post_img_profile {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post_section_top .post_div_info_con .post_strong_writer_name {
    font-size: 20px;
    font-weight: 600;
    margin: 0 16px 0 8px;
}

.post_section_top .post_btn_trash {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    bottom: 27px;
    background: url('../../assets/delete.svg') center/ 24px 24px;
    background-color: transparent;
}

.post_section_mid {
    padding: 30px 15px;
    border-bottom: 1px solid #bdbdbd;
    min-height: 400px;
    position: relative;
}

.post_section_mid .post_img_content {
    margin-bottom: 20px;
    border-radius: 8px;
    width: 40%;
}

.post_section_mid .post_p_content_txt {
    font-size: 19px;
    line-height: 24px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 900px;
}

/* 게시글 좋아요, 즐겨찾기 버튼 */
.post_section_mid .post_div_likeFavorite_con {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}
.post_section_mid .post_div_likeFavorite_con .post_btn_like {
    background-color: transparent;
    display: flex;
    align-items: center;
}
.post_div_likeFavorite_con .post_btn_like .post_img_like {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}
.post_section_mid .post_div_likeFavorite_con .post_btn_fav {
    margin-left: 10px;
    margin-top: 5px;
    background-color: transparent;
}
.post_div_likeFavorite_con .post_btn_fav .post_img_fav {
    width: 24px;
    height: 27px;
}
/* chatting form */
.post_form_chat {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.post_form_chat .post_textarea_chat {
    resize: none;
    overflow: hidden;
    min-height: 100px;
    padding: 15px;
    outline: none;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}
.post_form_chat .post_div_prev_con {
    width: 20%;
    position: relative;
}

.post_div_chat_con .post_div_prev_con .post_btn_prev_cancel {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: orange;
    border-radius: 50%;
    right: -10px;
    top: -10px;
}

.post_form_chat .post_btn {
    position: absolute;
    right: 0;
    bottom: -35px;
}
.post_div_comment_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* 유저이름 */
.post_div_comment_right .post_strong_name {
    font-size: 18px;
    font-weight: 600;
    /* margin-bottom: 28px; */
}

.post_li_comment .post_time_comment {
    font-size: 14px;
    color: #bdbdbd;
    margin-left: auto;
}

.post_section_bottom .post_ul_comment .post_li_comment {
    padding: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid #bdbdbd;
}
.post_section_bottom .post_ul_comment .post_li_comment:last-child {
    border-bottom: none;
}

.post_div_comment_user_info {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
}

.post_img_comment_user {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.loading {
    margin-top: 350px;
    text-align: center;
}
.post_pre_comment {
    max-width: 700px;
    font-size: 15px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}
