.signupPage_bodyWrapper{
    width: 100vw;
    height: 100vh;
    background-color: #FFBD3E;
}

/* header */
.signupPage_header{
    padding-top: 50px;
    text-align: center;
}

.signupPage_h1_tit{
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.signupPage_p_subTit{
    padding-top: 20px;
    font-size: 18px;
}


/* main */
.signupPage_main_wrapper{
    margin: 30px auto;
    padding: 30px 50px;
    width: 430px;
    z-index: -1;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
}

/* title-Wrapper */
.signupPage_div_titWrapper{
    margin-top: 10px;
}

.signupPage_h2_welcome{
    font-size: 20px;
    font-weight: 700;
}

.signupPage_p_detailPlz{
    margin: 10px auto 15px;
    font-size: 14px;
    color: #6a6a6a;
}

/* input */
.signupPage_form{
    display: flex;
    flex-direction: column;
}

#signupPage_inp_id, #signupPage_inp_pwd, #signupPage_inp_pwdCheck, #signupPage_inp_nickname{
    margin-top: 15px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    padding: 13px;
    width: 100%;
}

#signupPage_inp_id{
    margin-top: 0;
}

.signupPage_checkCont{
    display: flex;
    margin-top: 10px;
}

/* signup button */
.loginPage_btn_signUp{
    margin-top: 20px;
    padding: 15px auto;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #fcc400;
    color: #fff;
    font-size: 18px;
}

/* accept check */
.signupPage_div_acceptCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.socialRuleDiv1{
    display: flex;
    margin-top: 15px;
}

.privacyDiv2{
    margin-top: 8px;
}

#signupPage_check_accept{
    margin-right: 10px;
    cursor: pointer;
}

.signupPage_btn_socialRule,
.signupPage_btn_privacy{
    border: none;
    font-size:15px;
    text-decoration: underline;
    vertical-align: top;
    background-color: #fff;
}

.signupPage_btn_privacy{
    margin-left: 27px;
}

/* modal */
.modalCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 160px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(1.5px);
}

.signupPage_art_socialRuleModalCon,
.signupPage_art_privacyModalCon{
    position: relative;
    width: 440px;
    padding: 50px 25px;
    border-radius: 30px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: #fff;
    line-height: 130%;
}

.signupPage_h3_socialRuleTit,
.signupPage_h3_privacyTit{
    margin-bottom:25px;
    font-size: 20px;
    font-weight: 700;
}

.signupPage_art_socialRuleModalCon p, ol,
.signupPage_art_privacyModalCon p{
    margin-bottom: 20px;
}

.signupPage_art_socialRuleModalCon strong{
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.signupPage_art_socialRuleModalCon li{
    padding-left: 10px;
    list-style-type: square;
    list-style-position: inside;
}

.signupPage_art_privacyModalCon ul{
    margin-bottom: 20px;
}

.signupPage_art_privacyModalCon li{
    padding-left: 10px;
    list-style-type: square;
    list-style-position: inside;
}

.signupPage_btn_modalClose{
    position: absolute;
    bottom: 40px;
    right: 30px;
    border: #d7d7d7;
    background-color: #fff;
    font-size: 14px;
    text-decoration: underline;
    color:#6a6a6a;
    cursor:pointer;
}