.edit_div_colorwrap {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

/* 메인 컨테이너 */
.edit_main_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 740px;
    height: 600px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    background-color: #fff;
}

.edit_strong {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin: 76px 0 0 92px;
}

.edit_p_profile {
    font-size: 14px;
    line-height: 17px;
    margin: 44px 0 0 144px;
}

.edit_spn_img {
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin: 44px 0 0 158px;
}

.edit_img {
    width: 72px;
    height: 72px;
    border-radius: 120px;
    margin: 22px 30px 46px 158px;
    background-size: contain;
}

.edit_btn_change {
    position: relative;
    top: -80px;
    left: 0px;
    width: 85px;
    height: 28px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    color: #909090;
    cursor: pointer;
}

.edit_spn_nickname {
    position: relative;
    left: -170px;
    font-size: 14px;
    line-height: 17px;
}

#edit_inp_nickname {
    margin-left: -121px;
    width: 355px;
    height: 34px;
    padding: 8px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    font-size: 14px;
}

#edit_inp_nickname::placeholder {
    opacity: 0.3;
}

.edit_p_nickname {
    margin: 10px 0 52px 260px;
    font-size: 12px;
    line-height: 15px;
    color: #909090;
}

.edit_btn_confirm {
    margin: 40px 0 0 585px;
    background: #bcbcbc;
    padding: 5px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}
