/* 유저 프로필 섹션 */
.info_sect_profile {
    position: relative;
    height: 100px;
    border-bottom: 1px solid #bdbdbd;
}

.info_img_profile {
    position: relative;
    top: -30px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 120px;
    object-fit: cover;
}

.info_strong_nickname {
    position: relative;
    top: -100px;
    left: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.info_a_move {
    position: relative;
    top: -80px;
    left: 150px;
    width: 84px;
    height: 30px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    color: #909090;
}

.info_a_logout {
    position: relative;
    top: -110px;
    left: 250px;
    width: 84px;
    height: 30px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    color: #909090;
}

/* 게시글 목록으로 이동하는 아이콘 */
.info_div_iconWrap {
    position: relative;
    top: -180px;
    left: -40px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.info_div_post,
.info_div_like,
.info_div_scrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.info_img_post,
.info_img_like,
.info_img_scrap {
    width: 30px;
    height: 30px;
}

.info_div_post {
    gap: 13px;
}

.info_div_like,
.info_div_scrap {
    gap: 8px;
}

/* 게시글 목록 섹션 */
.info_sect_postList {
    position: relative;
    top: -80px;
}

/* 반응형 */
@media (max-width: 1075px) {
    .info_div_iconWrap {
        position: absolute;
        top: 90px;
        left: 50px;
    }

    .info_sect_profile {
        height: 180px;
    }
    .info_sect_postList {
        top: 50px;
    }
}
