/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Customize reset */

:root {
    --main-color: #ffbd3e;
    --txt-color: #333333;
    --border-color: #bdbdbd;
    --sub-border-color: #e0e0e0;
    --bg-color: #ffffff;

    --cate-study-color: #b8e8fc;
    --cate-love-color: #ffb9b9;
    --cate-rel-color: #dcedc2;
    --cate-life-color: #fdfdbd;
    --cate-job-color: #b1afff;
    --cate-talk-color: #ffdd6f;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body,
button {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    font-weight: 400;
    color: var(--txt-color);
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

table,
thead,
tbody,
tr {
    display: block;
}

/* Image Replacement 약자 스크린리더가 읽을 수 있도록 대체텍스트 */
.ir {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
