@charset "utf-8";
@import "reset.css";

:root {
    --main-color: #6327fe;
    --txt-color: #333333;
    --border-color: #c4c4c4;
    --sub-border-color: #e0e0e0;
    --bg-color: #f2f2f2;
    --emphasis-txt-color: #eb5757;
    --sub-txt-color: #828282;
    --button-border: #bdbdbd;
}

div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body,
button {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    font-weight: 400;
    color: var(--txt-color);
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

table,
thead,
tbody,
tr {
    display: block;
}

/* Image Replacement 약자 스크린리더가 읽을 수 있도록 대체텍스트 */
.ir {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 두줄 말줄임 */
.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* button 스타일 */
button {
    border: none;
    cursor: pointer;
    padding: 0;
}

/* m-button-fill 스타일 */
.m-button-fill {
    width: 308px;
    height: 60px;
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border-radius: 5px;
}

/* m-button-fff 스타일 */
.m-button-fff {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid var(--button-border);
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--txt-color);
}

/* s-button 스타일 */
.s-button {
    width: 130px;
    height: 40px;
    background-color: #fff;
    border: 1px solid var(--button-border);
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/* link-button 스타일 */
.link-btn {
    position: sticky;
    top: 60px;
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    border-radius: 50%;
}

/* x 버튼 스타일 */
.icon-delete {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../assets/icon-delete.svg) no-repeat center / contain;
}

/* 테스트용 */
h1 {
    font-size: 20px;
    color: red;
    padding: 10px;
}

a {
    text-decoration: underline;
    font-size: 14px;
    padding: 6px 12px;
}
/* //테스트용 */
