@charset "utf-8";
@import 'reset.css';
@import 'page/loginPage.css';
@import 'page/mainPage.css';
@import 'page/postDetail.css';
@import 'page/postUpload.css';
@import 'page/signupPage.css';
@import 'page/testPage.css';
@import 'page/userEdit.css';
@import 'page/userInfo.css';
@import 'common/boardCard.css';
@import 'common/dropDown.css';
@import 'common/header.css';

:root {
    --main-color: #ffbd3e;
    --txt-color: #333333;
    --border-color: #bdbdbd;
    --sub-border-color: #e0e0e0;
    --bg-color: #ffffff;

    --cate-study-color: #b8e8fc;
    --cate-love-color: #ffb9b9;
    --cate-rel-color: #dcedc2;
    --cate-life-color: #fdfdbd;
    --cate-job-color: #b1afff;
    --cate-talk-color: #ffdd6f;
}

div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body,
button {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    font-weight: 400;
    color: var(--txt-color);
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

table,
thead,
tbody,
tr {
    display: block;
}

/* Image Replacement 약자 스크린리더가 읽을 수 있도록 대체텍스트 */
.ir {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
